/* Estilo geral da página */
body{

    /* fundo escuro estilo game */
    background:#0a0a0a;

    color:white;

    /* centraliza texto */
    text-align:center;

    font-family:Arial;
}


/* TABULEIRO DO JOGO */
.board{

    /* ativa GRID layout (profissional) */
    display:grid;

    /* cria 3 colunas iguais */
    grid-template-columns: repeat(3,100px);

    /* espaço entre células */
    gap:12px;

    /* centraliza horizontalmente */
    justify-content:center;

    margin:20px;
}


/* CASAS DO JOGO */
.cell{

    width:100px;
    height:100px;

    background:#1a1a1a;

    /* tamanho das letras X e O */
    font-size:40px;

    /* centraliza conteúdo */
    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;

    border-radius:12px;

    /* animação suave */
    transition:0.2s;
}


/* efeito quando passa mouse */
.cell:hover{

    background:#333;

    /* leve zoom */
    transform:scale(1.05);
}


/* classe adicionada quando alguém ganha */
.win{

    background:lime;
    color:black;
}


/* botão reiniciar */
button{

    padding:10px 20px;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

